# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
astro-preview*.log

# environment variables
.env
.env.production

# local private files
.local/
docs/
docs/.local-strategy/

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/
